<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8"> </meta>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
      <meta name="description" content=""></meta>
      <meta name="author" content=""></meta>


    <title>Cadastrar Autor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="header clearfix">
          <nav>
              <ul class="nav nav-pills float-right">
                  <li class="nav-item">
                      <a class="nav-link " href="/autores">Autores<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="/obras">Obras</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/cadastrar-autor">Cadastrar Autor</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/cadastrar-obra">Cadastrar Obra</a>
                  </li>

              </ul>
          </nav>
        <h4 class="text-muted">Controle de Autores e Obras</h4>
      </header>

      <main role="main">

       <form>
          <div class="form-group">
            <label >Nome do autor</label>
            <input type="text" class="form-control" i aria-describedby="emailHelp" placeholder="Digite o nome do autor">
          </div>
          <div class="form-group">
            <label >Data de nascimento</label>
            <input type="data" class="form-control"  aria-describedby="emailHelp" placeholder="Digite a data de nascimento">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">País de Origem</label>
            <input type="data" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o país de origim">
          </div>
           <div class="form-group">
            <label for="exampleInputEmail1">Sexo</label>
            <input type="data" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digi">
          </div>
           <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o email">
          </div>
           <div class="form-group">
            <label for="exampleInputEmail1">CPF</label>
            <input type="CPF" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o CPF"
          </div>

           <div class="form-group">
               <label for="exampleFormControlSelect2">Example multiple select</label>
               <select multiple class="form-control" id="exampleFormControlSelect2">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
               </select>
           </div>

      

          <button type="submit" class="btn btn-success">Cadastrar</button>
      </form>

      </main>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
